# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List some popular languages used for data science.
- List some common libraries used in data science.
- List some tools used in data science.
- Arithmetic operations in Python.

Some of the popular languages that Data Scientists use are:
1. SQL
2. R Language
3. Python

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Tensorflow

|Data Science Tools|
|------------------|
|RStudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python:

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Hamza Ahmed